{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>News Search</title>
	<link rel="stylesheet" href="{% static 'news/style.css' %}">
</head>

<body>
	<nav>
		<a href="#"> NEWS APP</a>
		<a href="#">home</a>

	</nav>
	<div class="task_adder">
		<h1>News Search</h1>
		<form method="POST" class="search-form">
			{% csrf_token %}
			<input type="text" name="keyword" placeholder="Enter keyword" required>
			<button type="submit">Search</button>
		</form>
	</div>
	<h2>Results:</h2>
	{% if articles %}
	{% for article in articles %}
	<div class="added">
		<li class="article">
			<h3>{{ article.title }}</h3>
			<p>{{ article.description }}</p>
			<a href="{{ article.url }}" target="_blank">Read more</a>
		</li>
	</div>
	{% endfor %}
	{% else %}
	<p>No articles found. Try searching for a different keyword.</p>
	{% endif %}
</body>

</html>